@using ETicaret.Entity
@model List<Category>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2> Category List</h2>
<div class="text-info">
    @ViewBag.silme
</div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th> Category Name</th>
            <th> Description</th>
            <th> Created Date</th>
            <th> Edit & Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.CreatedDate</td>
                <td>
                    <a href="~/Admin/Category/EditCategory/@item.CategoryId">Edit</a>
                    <a href="~/Admin/Category/DeleteCategory/@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>

