@using ETicaret.Entity
@model List<Brand>
@{
    ViewBag.Title = "BrandList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>BrandList</h2>
<div class="text-danger">
    @ViewBag.deleteMesaj
</div>
<table border="1" class="table table-hover">
    <thead>
        <tr>
            <th>Brand Name</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Edit & Delete </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Brand item in Model)
        {
            <tr>
                <td>@item.BrandName</td>
                <td>@item.Description</td>
                <td>
                    <center><img src="~/Images/@item.Photo" class="img-circle" width="75" height="75" /> </center>
                    
                </td>
                <td>
                    <a href="~/Admin/Brand/EditBrand/@item.BrandId">Edit</a>
                    <a href="~/Admin/Brand/DeleteBrand/@item.BrandId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
