
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Index</h2>
<div class="text-success">
    @ViewBag.payment
</div>
@* Bu sayfayı partial view ile oluşturuyoruz *@
@Html.Partial("_ProductList")
